<div class="tab skills skillstab-pane" data-group="primary" data-tab="skills">
    <ol class="overflow-list skills-pane">
        <h3 class="item-name pf-heading pf-actions core-title">{{localize "PF2E.CoreSkillsHeader"}}</h3>
        <ol class="skills-list">

            <!-- Core Skills -->
            {{#each data.skills as |skill s|}}
                <li class="skill" data-skill="{{s}}">

                    <h1 class="skill-score" title="{{skill.breakdown}}">{{numberFormat skill.value decimals=0 sign=true}}</h1>
                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    {{!-- <div class="skill-prof skill-container">
                        <input type="hidden" name="data.skills.{{s}}.rank" value="{{skill.rank}}" data-dtype="Number"/>
                        <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{skill.hover}}">{{{skill.icon}}}</span>
                    </div> --}}
            
                    {{!-- {{#if skill.armor}}
                    <h4 class="skill-armor" title="{{localize 'PF2E.ArmorCheckPenalty'}}"><i class="fas fa-shield-alt"></i></h4>
                    {{/if}} --}}

                        <div class="skill-prof button-group">
                            <input type="hidden" name="data.skills.{{s}}.rank" value="{{skill.rank}}" data-dtype="Number"/>
                            <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{skill.hover}}">{{{skill.icon}}}</span>
                        <div class="hover-container">
                            <h6 class="hover" data-tooltip-content="#{{../uid}}-{{skill.label}}-modifier">Modifiers</h6>
                        </div>
                    </div>

                    <div class="hover-content" id="{{../uid}}-{{skill.label}}-modifier">
                            <div class="sidebar_title">
                                <h2>{{skill.label}}</h2>
                                <!-- <a href="#">+ Add Modifier</a> -->
                            </div>
                            <ul>
                                {{#each skill._modifiers as |modifier|}}
                                <li class="item {{#unless modifier.enabled}}no-effect{{/unless}}">
                                    <span class="tag">{{modifier.type}}</span>
                                    <span class="label">{{localize modifier.name}}</span>
                                    <span class="data">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                                </li>
                                {{/each}}
                            </ul>
                    </div>
            

                </li>
            {{/each}}
        </ol>

<!-- Lore Header -->
        <ol class="lore-header inventory-header directory-list">
            
            <li class="item action-header">
                    <h3 class="item-name pf-heading pf-actions">{{localize "PF2E.LoreSkillsHeader"}}</h3>
                {{#if owner}}
                <div class="item-controls">
                        <a class="item-control item-create pf-heading" title="{{localize "PF2E.CreateActionTitle"}}" data-type="lore"><i class="fas fa-plus"></i>{{localize "PF2E.AddShortLabel"}}</a>
                </div>
                {{/if}}
            </li>
        
        </ol>
        <ol class="lores-list">
            <!-- Lore Skills -->

                {{#each actor.lores as |lore lid|}}
                <li class="skill item" data-skill="{{s}}" data-item-id="{{lore._id}}" data-item-type="lore">

                        <h1 class="skill-score lore-score-rollable rollable" title="{{lore.data.breakdown}}">{{lore.data.value}}</h1>        

                    <!-- <h4 class="item-name lore-name rollable">{{lore.name}}</h4> -->
                    <div class="skill-name lore-name-input item-name-input" >
                        <input name="item-name-skill-{{lore._id}}" data-item-id="{{lore._id}}" type="text" data-dtype="String" value="{{lore.name}}" style="color: white;"/>
                    </div>
                    
                    <div class="skill-prof button-group skill-container">
                         {{#if ../owner}}
                            <div class="item-controls pf-redbackground">
                                <!-- <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a> -->
                                <a class="item-control item-delete skill-armor" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                        
                        {{!-- <h4 class="skill-proficiency pf-title">{{localize "PF2E.ProficiencyRankLabel"}}</h4> --}}
                        <input type="hidden" name="data.items.{{lid}}.data.proficient.value" data-stat-type="item" value="{{lore.data.proficient.value}}" data-dtype="Number"/>
                        <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{lore.data.hover}}">{{{lore.data.icon}}}</span>
                    

                    
                    </div>
                    <!-- <div class="skill-container">
                        <h4 class="skill-item pf-title">Item</h4>
                        <span class="skill-item pf-value item-value-input" title="Item">
                            <input type="text" value="{{lore.data.itemBonus}}"
                                    data-dtype="Number" placeholder="+0"/>
                        </span>
                    </div> -->
                    
                </li>

            {{/each}}
        </ol>
        <!-- <h3 class="item-name pf-heading pf-actions">{{localize "PF2E.MartialSkillsHeader"}}</h3> -->
        <!-- Martial Header -->
        <ol class="lore-header inventory-header directory-list">
                <li class="item action-header">
                <h3 class="item-name pf-heading pf-actions">{{localize "PF2E.MartialSkillsHeader"}}</h3>
                    {{#if owner}}
                    <div class="item-controls">
                    <a class="item-control item-create pf-heading" title="{{localize "PF2E.CreateActionTitle"}}" data-type="martial"><i class="fas fa-plus"></i>{{localize "PF2E.AddShortLabel"}}</a>
                    </div>
                    {{/if}}
                </li>
        </ol>
        <ol class="lores-list">

            <!-- Martial Skills -->
            {{#each data.martial as |martial s|}}
                <li class="skill" data-skill="{{s}}" data-item-id="{{martial._id}}">

                    <h1 class="skill-score lore-score" title="{{martial.breakdown}}">{{martial.value}}</h1>        
                    <h4 class="skill-name lore-name-input">{{martial.label}}</h4>
                    
                    <div class="skill-prof button-group skill-container">
                        {{!-- <h4 class="skill-proficiency pf-title">{{localize "PF2E.ProficiencyRankLabel"}}</h4> --}}
                        <input type="hidden" name="data.martial.{{s}}.rank" value="{{martial.rank}}" data-dtype="Number"/>
                        <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{martial.hover}}">{{{martial.icon}}}</span>
                    </div>
                </li>
            {{/each}}
            {{#each actor.martialSkills as |martial mid|}}
                <li class="item skill" data-skill="{{mid}}" data-item-id="{{martial._id}}" data-item-type="martial">

                    <h1 class="skill-score lore-score-rollable" title="{{martial.data.breakdown}}">{{martial.data.value}}</h1>        

                        <!-- <h4 class="item-name lore-name rollable">{{lore.name}}</h4> -->
                        <div class="skill-name lore-name-input item-name-input" >
                        <input name="item-name-skill-{{martial._id}}" data-item-id="{{martial._id}}" type="text" data-dtype="String" value="{{martial.name}}" style="color: white;"/>
                        </div>
                        
                        <div class="skill-prof button-group skill-container">

                            {{#if ../owner}}
                            <div class="item-controls pf-redbackground" style="text-align: center">
                                <!-- <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a> -->
                                <a class="item-control item-delete skill-armor" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                            {{/if}}
                            {{!-- <h4 class="skill-proficiency pf-title">{{localize "PF2E.ProficiencyRankLabel"}}</h4> --}}
                            <input type="hidden" name="data.items.{{mid}}.data.proficient.value" data-stat-type="item" value="{{martial.data.proficient.value}}" data-dtype="Number"/>
                            <span class="skill-proficiency pf-value pf-rank click-stat-level" title="{{martial.data.hover}}">{{{martial.data.icon}}}</span>
                        
                        
                        </div>
                    <!-- <div class="skill-container">
                        <h4 class="skill-item pf-title">{{localize "PF2E.ItemBonusShortLabel"}}</h4>
                        <span class="skill-item pf-value item-value-input" title="Item">
                            <input type="text" value="{{martial.data.itemBonus}}"
                                    data-dtype="Number" placeholder="+0"/>
                        </span>
                    </div> -->
                        
                </li>

            {{/each}}
        </ol>
    </ol>
</div>
