.hover {
    cursor: pointer;
}

.hover-content {
    display: none;
}

.crb-hover {
    .tooltipster-box {
        @include corner-boxes;
        background-color: rgba(black, 0.9);
        overflow: visible;

        .tooltipster-content {
            @include p-reset;

            .hover-content {
                display: flex;
                min-width: 120px;
                max-width: 180px;
                padding: 4px;
                font-size: 0;
                line-height: 1;
                flex-direction: column;

                p {
                    font-size: 14px;
                    font-family: $body-serif;
                    font-weight: 400;
                }

                h1,
                h2,
                h3 {
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                }

                .sidebar_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    border-bottom: 1px solid $sidebar-title-color;
                    margin: 0.25em 0 0.5em;
                    flex: 1 auto;
                    h2,
                    a {
                        @include micro;
                        border: none;
                        margin: 0;
                        line-height: 1.5;
                        color: $sidebar-title-color;

                        & + h2 {
                            font-size: 11px;
                        }
                    }
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }

                ul {
                    list-style: none;
                    @include p-reset;
                    flex: 1 auto;
                    input {
                        all: initial;
                        cursor: pointer;
                        color: white;
                        &:focus {
                            box-shadow: none;
                        }
                        &::placeholder {
                            color: white;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0;
                        }
                        &[type='number'] {
                            -moz-appearance: textfield;
                        }
                    }

                    label {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        font-family: $serif;
                        font-weight: 500;
                    }

                    .label,
                    .data {
                        font-size: 12px;
                        font-family: $serif;
                        font-weight: 400;
                        color: white;
                        @include p-reset;
                    }

                    .item {
                        display: grid;
                        grid:
                            'data label' min-content
                            'data type' min-content
                            /30px 1fr;
                        margin: 8px 0;
                        align-items: center;
                        column-gap: 8px;
                        justify-items: start;

                        &:first-child {
                            border: none;
                        }

                        &.no-effect {
                            filter: opacity(0.5);
                            position: relative;
                        }

                        .tag {
                            grid-area: type;
                            @include micro;
                            @include flex-center;
                            color: var(--tertiary);
                            width: min-content;
                        }

                        .label {
                            grid-area: label;
                        }

                        .data {
                            grid-area: data;
                            text-align: right;
                            font-size: 21px;
                            justify-self: right;
                            width: min-content;
                            padding-top: 2px;
                        }
                    }

                    .disabled {
                        .label,
                        .data,
                        .data::placeholder {
                            color: rgba(white, 0.5);
                        }
                        .label {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}
